body{
}
header{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#h_left{
	font-size: xx-large;
	font-weight: bold;
	padding-left: 5em;
	font-family: sans-serif;
}
#h_right{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.h_box{
	margin: 10px;
	padding: 5px;
}
#cont1{
	background-image: url("imgcont1.jpg");
	background-size: cover;
	padding: 200px 0px 200px 0px;
}
#c1_text{
	font-family: monospace;
	font-style: normal;
	font-size: -webkit-xxx-large;
	padding: 30px;
	margin-right: 20%;
	margin-left: 20%;
	color: aliceblue;
}
#c1_h{
	width: 70%;
	color: brown;
	height: 2px;
}
#c1_box{
	padding: 11px 11px 11px 35px;
	margin-right: 43%;
	margin-left: 43%;
	color: aliceblue;
	font-size: x-large;
	border-style: solid;
	border-color: aliceblue;
	margin-top: 3%;
	border-radius: 10px;
	font-size: x-large;
}
#cont2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 2% 2% 2% 2%;
}
#c2_sec1{
	padding: 4em;
}
#c2_sec2{
}
#c2_img{
	margin: 5em;
	width: 70%;
	border-radius: 5px;
}
#c2_h{
	color: darkgray;
}
#c2_text{
	font-size: large;
	margin: 3em;
	color: gray;
}
#cont3{
	display: flex;
	background-color: antiquewhite;
}
#c3_left{
flex: 1;
}
#c3_img{
	width: 380px;
	margin: 25%;
	border-radius: 5px;
	box-shadow: aqua;
}
#c3_right{
	flex: 2;
	margin: 5em;
}
#c3_text{
	font-family: sans-serif;
	font-size: x-large;
	margin: 2%;
	padding-left: 10%;
	color: darkgray;
}
#c3_sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: -10%;
    margin: 5%;
}
.c3_box{
    display: flex;
    border: d;
    border-right: dotted grey 1px;
    border-bottom: dotted grey 1px;
}
.b_left{
    flex: 1;
}
.b_right{
    flex: 4;
}
.b_p1{
    color: blueviolet;
    font-family: sans-serif;
    padding: 5% 0% 0% 4%;
    font-size: larger;
}
.b_p2{
	font-family: cursive;
	padding: 5% 10% 5% 5%;
	color: gray;
}
#cont4{
}
#cont5{
}
#cont6{
}
#cont7{
}
#cont8{
	display: flex;
}
#c8_left{
	background-image: url(c9woman.jpg);
    flex: 1;
    height: 400px;
}
#c8_right{
	background-image: url(c9man.jpg);
	flex: 1;
	height: 400px;
}
#cont9{
	padding: 5%;
	background-color: white;
}
#c9_top{
	color: #a99e9e;
	font-family: sans-serif;
	font-size: xx-large;
	padding: 0% 18%;
}
#c9_bottom{
	padding: 4% 41%;
}
.c9_button{
	border: solid blue 2px;
	border-radius: 5px;
	margin: 2% 3%;
	padding: 7%;
	background-color: white;
	color: blue;
}
footer{
    background-color: #282b34;
}
#f_top{
}
#fp1{
    color: wheat;
    font-size: xx-large;
    padding: 3% 42% 3% 42%;
    font-family: sans-serif;
}
#fp2{
    color: grey;
    font-size: large;
    font-family: sans-serif;
    padding: 0% 20% 2% 20%;
    font-family: auto;
}
#f_mid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}
#f_left{
	padding: 5% 30%;
}
.f_h2{color: wheat;
	font-size: larger;
	font-family: sans-serif;
}
.f_p{
	font-size: large;
	color: gainsboro;
	font-family: cursive;
}
#f_right{
	padding: 12% 2% 2% 2%;
}
#textarea{
	width: 60%;
	height: 100px;
	display: block;
	margin: 10px;
	border-radius: 5px;
}
.f_button{
	color: white;
	background-color: blue;
	border : solid white 2px;
	border-radius: 4px;
	margin: 10px;
	height: 35px;
	width: 85px;
}
.input{border: solid #d2bfbf 2px;
	border-radius: 5px;
	height: 30px;margin: 10px;}
#f_bottom{
	background-color: #1b1616;
	height: 40px;
	padding: 2% 43% 0% 44%;
	color: white;
	}